body {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5,h6{
  margin-top: 0;
  margin-bottom: 0;
  color: #000e44;
  font-style:normal;
  font-weight: bolder;
}
/* -------------------------------------Dashboard Style----------------------------------------------- */
.add_track_section_header{
  color: #000e44;
  font-weight: bolder;
}

/* DashBoard Inputs (blank spaces) */
.dashboard_input{
 border-color: #00c2cb;
 background-color: aliceblue;
 font-style: italic;
 font-size: 12px;
 color:#000e44;
 margin-bottom: 10px;
}

#dashboard_input_start::-webkit-input-placeholder {
  color: #000e44;
  opacity: 0.7;
}

#dashboard_input_final::-webkit-input-placeholder {
  color: #000e44;
  opacity: 0.7;
}

/* Dashboard Radio Items (All) */
.radio_items{
  font-size : 16px;
}

#radio_players_A
.custom-control-input:checked
~ .custom-control-label::before {
background-color: #00c2cb;
border-color: #00c2cb;
}

#radio_all_tracks
.custom-control-input:checked
~ .custom-control-label::before {
background-color: #00c2cb;
border-color: #00c2cb;
}

#radio_players_A .custom-control-label{
  color: #000e44;
  font-weight:normal;
}

#radio_all_tracks .custom-control-label{
  color: #000e44;
  font-weight:normal;
}

.links{
  color: #00c2cb;
}

/* Switches Styeles */
#switches-input
.custom-control-input:checked
~ .custom-control-label::before {
background-color: #00c2cb;
border-color: #00c2cb;
}

#switches-input .custom-control-label{
  color: #000e44;
  font-weight: bolder;
}

.current_frame{
  font-size: 18px;
  color: #000e44;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 15px;
}

.player_card_header
{
  font-size: 18px;
  font-style: normal;
}

/* Text Outputs */
#manual_annotation_output{  
  font-size: 14px;
  font-style: italic;
  color:#000e44;
}

#assign_track_output{
font-size: 14px;
font-style: italic;
color:#000e44;
}

#add_track_output{
margin-top: 15px;
font-size: 14px;
font-style: italic;
color:#000e44;
}


/* Slider Colors */
.rc-slider-track {
  background-color: #00c2cb;;
}

.rc-slider-dot-active {  
  border-color: #00c2cb;
  border: solid 2px #00c2cb;
}

.rc-slider-handle {
  background-color: #00c2cb;
  border-color: #00c2cb;
}

.rc-slider-handle:hover {
  border-color: #00c2cb;
}

.rc-slider-handle-active:active {
  border-color: #00c2cb;
}

.rc-slider-mark{
  font-size: 0.7rem;
}

.rc-slider-mark-text {
  color: #000e44;
  font-weight: 400;
}

.rc-slider-mark-text-active  {
  color: #000e44;
  font-weight: 600;
}

/*Dashboard Dropdown Menu */
#dropdown_DB .Select-placeholder{
  color: #00c2cb;
  background-color: aliceblue;
  border-color: #00c2cb;
}

#dropdown_DB .Select-control{
  border-color: #00c2cb;
  box-shadow: #00c2cb;
  background-color: aliceblue;
}

#dropdown_DB .Select-control:hover{
  border-color: #000e44;
  box-shadow: #000e44;
  background-color: #000e44;
}

#dropdown_DB .Select-value-label {
  color: #00c2cb;
}

#dropdown_DB .Select-menu-outer{
  border-color: #00c2cb;
}
#dropdown_DB .VirtualizedSelectFocusedOption {
  background-color: #00c1cbd3;
  color: aliceblue;
}

/* BUTTON STYLES AND HOVER */
#all_tracks_bt{
 color: #00c2cb;
 border-color: #00c2cb;
 background-color: aliceblue;
}
#all_tracks_bt:hover {
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}
#all_tracks_bt:active {
  border-color: #00c2cb;
  color: #000e44;
}


#viewable_tracks_bt{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#viewable_tracks_bt:hover {
   color: #00c2cb;
   border-color: #000e44;
   background-color: #000e44;
 }
#viewable_tracks_bt:active {
   border-color: #00c2cb;
   color: #000e44;
 }

#player_tracks_bt{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#player_tracks_bt:hover {
   color: #00c2cb;
   border-color: #000e44;
   background-color: #000e44;
 }
#player_tracks_bt:active {
   border-color: #00c2cb;
   color: #ffffff;
 }

#but7{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#but7:hover{
   color: #00c2cb;
   border-color: #000e44;
   background-color: #000e44;
 }

 #but7:focus{
  box-shadow:#00c2cb;
}

#but7:active{
   border-color: #00c2cb;
   color: #ffffff;
 }

#but8{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#but8:hover{
   color: #00c2cb;
   border-color: #000e44;
   background-color: #000e44;
 }
#but8:active{
   border-color: #00c2cb;
   color: #ffffff;
 }

#gts_all_tracks:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}
#gts_all_tracks{
 color: #00c2cb;
 border-color: #000e44;
 background-color: #000e44;
}
#gts_all_tracks:disabled{
color: #000e44;
border-color: #000e44;
background-color: #11256b6e;
}

#go_to_end:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}
#go_to_end{
 color: #00c2cb;
 border-color: #000e44;
 background-color: #000e44;
}
#go_to_end:disabled{
color: #000e44;
border-color: #000e44;
background-color: #11256b6e;
}

#delete_bt:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}
#delete_bt{
 color: #00c2cb;
 border-color: #000e44;
 background-color: #000e44;
}
#delete_bt:disabled{
color: #000e44;
border-color: #000e44;
background-color: #11256b6e;
}


/* Buttons in track_card footer */
#assign_track_bt:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}
#assign_track_bt{
 color: #00c2cb;
 border-color: #000e44;
 background-color: #000e44;
}
#assign_track_bt:disabled{
color: #000e44;
border-color: #000e44;
background-color: #11256b6e;
}

#unassign_track_bt:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
  }
#unassign_track_bt{
   color: #00c2cb;
   border-color: #000e44;
   background-color: #000e44;
}
#unassign_track_bt:disabled{
  color: #000e44;
  border-color: #000e44;
  background-color: #11256b6e;
}

#set_start{
color: #00c2cb;
border-color: #000e44;
background-color: #000e44;
}

#set_final{
color: #00c2cb;
border-color: #000e44;
background-color: #000e44;
}

#add_track{
color: #00c2cb;
border-color: #000e44;
background-color: #000e44;
}

#delete_section{
color: #00c2cb;
border-color: #000e44;
background-color: #000e44;
}

#set_start:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}
#set_final:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}
#add_track:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}
#delete_section:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}

#go_to_add_track:hover{
color: #00c2cb;
border-color: #00c2cb;
background-color: aliceblue;
}

#go_to_add_track{
color: #00c2cb;
border-color: #000e44;
background-color: #000e44;
}


/* Card Outlines*/
#track_card{
border-color: #000e44;
}

#team_card{
border-color: #000e44;
}

#imagebox {
border-color: #000e44;
}

#imagebox .card-footer {
  border-color: #000e44;
}

#imagebox .card-header {
  border-color: #000e44;
}

#track_card .card-footer{
  border-color: #000e44;
  /* background-color: aliceblue; */
}

#track_card .card-header{
  border-color: #000e44;
  /* background-color: aliceblue; */
}

#team_card .card-footer{
  border-color: #000e44;
}

#team_card .card-header{
  border-color: #000e44;
}


/*-----------------------------------Add Track Page Buttons----------------------------------- */
/* HOVER BUTTON STYLE */
#set_start_add:hover{
  color: #00c2cb;
  border-color: #aafbff;
  background-color: aliceblue;
}
#set_final_add:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}

#button_save:hover{
  color: #00c2cb;
  border-color: #aafbff;
  background-color: aliceblue;
}
#button_reset:hover{
  color: #00c2cb;
  border-color: #aafbff;
  background-color: aliceblue;
}

#button_quit_1:hover{
  color: #00c2cb;
  border-color: #aafbff;
  background-color: aliceblue;
}

#next_page:hover{
  color: #00c2cb;
  border-color: #aafbff;
  background-color: aliceblue;
}

/* BUTTON STYLE */

#set_start_add{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}  
#set_final_add{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

#button_save{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}
#button_reset{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

#button_quit_1{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

#next_page{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

/* Card Outline */

#right_side_card{
  border-color: #000e44;
}

#right_side_card .card-footer{
  border-color: #000e44;
}

#right_side_card .card-header{
  border-color: #000e44;
}

/* Input Styles */

.add_track_input {
  border-color: #00c2cb;
  background-color: aliceblue;
  font-style: italic;
  font-size: 12px;
  color:#000e44;
  margin-bottom: 10px;
 }

#input_start::-webkit-input-placeholder {
  opacity: 0.7;
  color: #000e44;
}

#input_end::-webkit-input-placeholder {
  opacity: 0.7;
  color: #000e44;
}

/*-----------------------------------Video Editor Style----------------------------------- */

/* VE Dropdown */
#dropdown_VE .Select-placeholder{
  color: #00c2cb;
  background-color: aliceblue;
  border-color: #00c2cb;
}

#dropdown_VE .Select-control{
  border-color: #00c2cb;
  box-shadow: #00c2cb;
  background-color: aliceblue;
}

#dropdown_VE .Select-control:hover{
  border-color: #000e44;
  box-shadow: #000e44;
  background-color: #000e44;
}

#dropdown_VE .Select-value-label {
  color: #00c2cb;
}

#dropdown_VE .Select-menu-outer{
  border-color: #00c2cb;
}
#dropdown_VE .VirtualizedSelectFocusedOption {
  background-color: #00c1cbd3;
  color: aliceblue;
}

/* INPUT STYLES */
#startingFrame{
  border-color: #00c2cb;
  background-color: aliceblue;
  font-style: italic;
  font-size: 12px;
  color:#000e44;
  margin-bottom: 10px;
}

#endingFrame{
  border-color: #00c2cb;
  background-color: aliceblue;
  font-style: italic;
  font-size: 12px;
  color:#000e44;
  margin-bottom: 10px;
}

#startingFrame::-webkit-input-placeholder {
  opacity: 0.7;
  color: #000e44;
}
#endingFrame::-webkit-input-placeholder {
  opacity: 0.7;
  color: #000e44;
}


/* HOVER BUTTON STYLES */
#setStart:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#setEnd:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#jumpStart:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#jumpEnd:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#addToTrim:hover{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

.save-and-quit:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#save-and-continue:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}

/* BUTTON STYLES */
#setStart{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}
#setEnd{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}
#jumpStart{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}
#jumpEnd{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

#addToTrim{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}

.save-and-quit{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

#save-and-continue{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

/* Card Outline */
#trimmer_card{
  border-color: #000e44;
}

#trimmer_card .card-footer{
  border-color: #000e44;
}

#trimmer_card .card-header{
  border-color: #000e44;
}

/*-----------------------------------Home Page Style----------------------------------- */
/* Card Outlines */
#main_card{
  border-color: #000e44;
}
#game_card{
  border-color: #000e44;
}
#entry_card{
  border-color: #000e44;
}

/* BUTTON STYLES */
#select_game{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

#collapse_button{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

#link{
  color: #00c2cb;
  border-color: #000e44;
  background-color: #000e44;
}

/* HOVER BUTTON STYLES */

#select_game:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#collapse_button:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}
#link:hover{
  color: #00c2cb;
  border-color: #00c2cb;
  background-color: aliceblue;
}

/* INPUT */
#game_input{
  border-color: #00c2cb;
  background-color: aliceblue;
  font-style: italic;
  font-size: 16px;
  color:#000e44;
  margin-bottom: 10px;
}

#game_input::-webkit-input-placeholder {
  color: #000e44;
  opacity: 0.7;
}

/* Screen Sizes */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}


/* [class*="col-"] {
  width: 100%;
} */

 /* @media only screen and (max-width: 1820px) {

    #imagebox {
      width: 70%;
    }

    #team_card {
      width: 70%;
    }
    #track_card {
      width: 70%
    }
}  */

/* @media only screen and (min-width: 768px) {
 
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} */